{
    padding: 0px;
    margin: 0px;
    font-family: "Raleway";
}

body{
    background-image: url(images/fondo_contacto.jpeg) ;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 40%;
    height: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
    border-radius: 2%;
}

input, textarea{
    border: none;
    resize: none;
    outline: none;
    padding: 15px 0px;
    width: 80%;
    margin: 20px;
    transition: all 300ms;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

input:focus, textarea:focus{
    border-bottom-color: black;
}

button{
    border: none;
    outline: none;
    background: grey;
    padding: 15px;
    width: 200px;
    color: white;
    border-radius: 2%;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 300ms;
}

button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0,0,0,0.9) 0px 0px 10px;
    
}

